{% extends "main.html" %}
{% block title %}Delete Note{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block main %}
<form name='form_{{act}}' method='post' action='/data' 
  onsubmit="javascript: 
    disable(this, 'cmd_{{act}}'); 
    show(this, 'wait_{{act}}'); 
    setTimeout('document.forms[\'form_{{act}}\'].submit();', 1600);
    return false;
    "
>
<div id='win' style='margin-top: 20px;'>
    <div style='vertical-align: middle;'>task: 
    <span>{{task}}</span></div>
    <br>Delete task?<br><br>
</div>
<br>
  {{missing}}
<br>
<input name='act' type='hidden' value='{{act}}' />
<input name='id' type='hidden' value='{{id}}' />
<input id='cmd_{{act}}' name='cmd' type='submit' class='dis' value='DELETE' />&nbsp;&nbsp;
<input id='canc_{{act}}' name='cmd' type='button' class='dis' value='CANCEL'
  onclick="javascript: location.href='/';" />&nbsp;&nbsp;
<span id='wait_{{act}}'>waiting...</span>

<script type='text/javascript'>
hide(document, 'wait_{{act}}');
</script>
</form>
{% endblock %}

